<!DOCTYPE html>
<html lang="en">

<%-include('partials/navbar')  %>

<body>
    <div class="container">


        <style>
            body {
                background-image: url('/images/bg hearts.jpg');
            }
        </style>
        <br><br>
        <div class="card mx-auto" style="width: 25rem;">
        <br>
        <div class="text-center" class="card-title"><h2>Register</h2></div>
        <br>
        <div class="text-center" class="card-text">

            <form action="/register" method="POST">
                <label for="name">Customers Name:</label><br>
                <input type="text" id="name" name="name" required><br><br>

                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email" required><br><br>

                <label for="gameId">UID:</label><br>
                <input type="number" id="gameId" name="gameId" required><br><br>
                
                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password" required><br><br>

                <button type="submit" class="btn btn-primary">Register</button>
                
                <br><br>
            </form>
            <a href="/login" class="btn btn-link">Back to Login</a>
            <br><br>
        
        </div>
        </div>
    </div>
</body>
</html>
